* {
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;

}




/*Header ////////////////////////// */
.content {
  display: flex;
  flex-direction: row-reverse;
}

.content ul {
  display: flex;
  flex-direction: row;
  align-items: center;

}

.content ul li{
  list-style: none;
  margin: 20px;
}

.content ul li a{
  text-decoration: none;
  color: rgb(10, 10, 10);
}

.content ul li img{
cursor: pointer;
}

/*Principal/////////////// */
.logo {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100vw;
  height:40vh;
  margin-bottom: 20px;
}

.pesquisar{
  display: flex;
  align-items: center;
  justify-content: center;
}

.pesquisar input{
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 20px;
  padding-right: 20px;
  width: 500px;
  border-radius: 25px 25px 25px 25px;
  border-color:rgb(196, 196, 196);
  font-size: 18px;
}

.pesquisar input:hover{
  background-color: rgb(238, 235, 235);
  box-shadow: 2px 0px 2px  black;
}

.botoes{
  margin-top: 2%;
  margin-left: 38%;
  margin-right: 38%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.botoes button{
  padding: 15px;
  background-color: rgb(233, 232, 232);
  border: none;
  color: rgba(85, 82, 82, 0.918);
  margin: 1%;
}

.botoes button:hover{
  border: 1px solid rgb(170, 169, 169);
}

/*Rodapé/////////////////////////// */

footer{
  margin-top: 10%;
  display: flex;
  flex-direction: column;
}

.rodape1{
  background-color: rgb(233, 232, 232);
  color: rgba(85, 82, 82, 0.918);
  padding: 5px;
  width: 100%;
  border-bottom: 1px solid rgba(85, 82, 82, 0.918);
}

.rodape2{
  display: flex;
  background-color: rgb(233, 232, 232);
  color: rgba(85, 82, 82, 0.918);
  padding: 5px;
  width: 100%;
  margin-left: 5px;
  justify-content: space-between;
}
.pt1, .pt2{
  display: flex;
  flex-direction: row;
}


.pt1, .pt2, ul{
  display: flex;
  flex-direction: row;
}

.pt1, .pt2, ul li{
  list-style: none;
  padding: 5px;
  cursor: pointer;

}

.pais{
  margin-left: 55px;
}

.pt2{
  margin-right: 10px;
}


